


* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", 'Times New Roman', Times, serif;
    font-weight: 300;
}

header{
    display:flex;
    position: sticky;
    top: 0;
    align-content:center;
    align-items: center;
    justify-content: space-between;
    background-color: silver;
    width: 100%;
    min-width: 1300px;
    height: 120px;
    border-bottom: 3px solid #e51f36;
}

header img {
    height: 100px;
    justify-self:left;
    margin: 10px;
}

header input {
    width: 900px;
    height: 30px;
}

header button {
    font-size: 20px;
    text-align: center;
}

#searchbar {
    border-radius: 100px;
    border: solid 4px #e51f36;
    padding: 3px;
    background-color: lightgray;
    color:#e51f36;
}

#searchbar::placeholder {
    color: #e51f36;
}

#searchbutton {
    border: none;
    background: none;
    color: #e51f36;
}

#searchbutton:hover {
    opacity: 0.75;
}

.epicbuttons {
    font-size: 50px;
    background:none;
    border:none;
    color:#e51f36;
    margin: 0 5px;
}

.epicbuttons:hover {
    opacity: 0.75;
}

.frontpage1 {
    width: 100%;
    height: 500px;
    background-image: url("../images/images.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.frontpage1 h1 {
    margin: 10px;
    margin-left: 100px;
    font-size: 80px;
}

.frontpage1 a {
    width: 70%;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #e51f36;
    text-decoration: none;
}

.frontpage1 a:hover {
    opacity: 0.6;
}

.frontpage2 {
    padding: 100px 0;
    width: 100%;
    display: flex;
    justify-self: center;
    flex-direction: column;
    text-align: center;
    background-color: silver;
    color:#e51f36;
}

#offers {
    height: 400px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.offer {
    height: 300px;
    width: 300px;
    border: 20px lightgray solid;
    border-radius: 100px;
    font-size: 35px;
    background-color: lightgray;
    color: #e51f36;
}

.offer i {
    margin: 40px
}

.frontpage2 h1 {
    font-size: 50px;
}

footer {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
}

footer img {
    width: 200px;
    height: 200px;
    padding: 50px 0 0 50px;
}

#contact {
    padding: 0 20px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 25px;
}

@media only screen and (min-width: 1921px) {
    .frontpage1 {
        width: 1920px;
    }
}