* {
    margin: 0;
    padding: 0;
}

header{
    display:flex;
    align-content:center;
    align-items: center;
    justify-content: space-between;
    background-color: gray;
    min-width: 1300px;
}

header img {
    height: 100px;
    justify-self:left;
}

header input {
    width: 900px;
    height: 30px;
}

header button {
    font-size: 23px;
    text-align: center;
}

#epicbutton1,
#epicbutton2,
#epicbutton3 {
    font-size: 50px;
    background:none;
    border:none;
}
