* {
    margin: 0;
    padding: 0;
}

header{
    display:flex;
    position: sticky;
    top: 0;
    align-content:center;
    align-items: center;
    justify-content: space-between;
    background-color: dimgray;
    width: 100%;
    min-width: 1300px;
    height: 120px;
}

header img {
    height: 100px;
    justify-self:left;
    margin: 10px;
}

header input {
    width: 900px;
    height: 30px;
}

header button {
    font-size: 20px;
    text-align: center;
}

#searchbar {
    border-radius: 100px;
    border: solid 4px darkred;
    padding: 3px;
    background-color: gray;
    color:darkred;
}

#searchbar::placeholder {
    color: darkred;
}

#searchbutton {
    border: none;
    background: none;
    color: darkred;
}

#searchbutton:hover {
    opacity: 0.75;
}

.epicbuttons {
    font-size: 50px;
    background:none;
    border:none;
    color:darkred;
}

.epicbuttons:hover {
    opacity: 0.75;
}

.frontpage1 {
    display: inline-block;
}

.frontpage2 {
    padding-top: 3000px;
}